# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# pytest cache
.pytest_cache/

# Streamlit
.streamlit/

# Result directory
result/ 